$buttons-subtle-text: black;
$buttons-subtle-background-normal: #ffffff2a;
$buttons-subtle-background-hover: #ececec6b;
$buttons-subtle-background-active: #d6d6d6;
$buttons-subtle-background-disabled: #d6d6d6;
$buttons-default-text: black;
$buttons-default-background-normal: #e7e7e9b0;
$buttons-default-background-hover: #d9d9da;
$buttons-default-background-active: #c7c7c9;
$buttons-default-background-disabled: #e7e7e981;
$buttons-primary-text: white;
$buttons-primary-background-normal: #3c86ec;
$buttons-primary-background-hover: #247af3;
$buttons-primary-background-active: #0c66e4;
$buttons-primary-background-disabled: #3c85ec8c;
$buttons-warning-text: black;
$buttons-warning-background-normal: #f5cd47;
$buttons-warning-background-hover: #e6c045;
$buttons-warning-background-active: #c4a130;
$buttons-warning-background-disabled: #f5cc4788;
$buttons-danger-text: white;
$buttons-danger-background-normal: #c9372c;
$buttons-danger-background-hover: #bd3026;
$buttons-danger-background-active: #a1271e;
$buttons-danger-background-disabled: #c9362c86;
