$buttons-subtle-text: black;
$buttons-subtle-background-normal: #ffffff00;
$buttons-subtle-background-hover: #ffffff34;
$buttons-subtle-background-active: #ffffff44;
$buttons-subtle-background-disabled: #ff00003a;
$buttons-subtle-white-text: white;
$buttons-subtle-white-background-normal: #ffffff00;
$buttons-subtle-white-background-hover: #ffffff34;
$buttons-subtle-white-background-active: #ffffff44;
$buttons-subtle-white-background-disabled: #ff00003a;
$buttons-default-text: black;
$buttons-default-background-normal: #e7e7e9b0;
$buttons-default-background-hover: #d9d9da;
$buttons-default-background-active: #c7c7c9;
$buttons-default-background-disabled: #e7e7e981;
$buttons-primary-text: white;
$buttons-primary-background-normal: #3c86ec;
$buttons-primary-background-hover: #247af3;
$buttons-primary-background-active: #0c66e4;
$buttons-primary-background-disabled: #3c85ec8c;
$buttons-warning-text: black;
$buttons-warning-background-normal: #f5cd47;
$buttons-warning-background-hover: #e6c045;
$buttons-warning-background-active: #c4a130;
$buttons-warning-background-disabled: #f5cc4788;
$buttons-danger-text: white;
$buttons-danger-background-normal: #c9372c;
$buttons-danger-background-hover: #bd3026;
$buttons-danger-background-active: #a1271e;
$buttons-danger-background-disabled: #c9362c86;
$buttons-font-family: Nunito Sans;
$modals-background: white;
$modals-title-text: black;
$modals-desc-text: #646464;
